{% load static %}
<html lang="en">
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
</head>
<body>
    <div id="app">
        <div id="rooms"></div>
        <div id="main">
            <div id="heading">
                <span class="logo">Awesome chat</span>
                <div class="header-right">
                    <span class="greeting"></span>
                    <button class="logout-btn">Logout</button>
                </div>
            </div>
            <div id="messages">
            </div>
            <div id="sending">
                <div id="message-form">
                    <textarea id="message-text"></textarea><button id="send-button">Send</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{% static "app.mjs" %}"></script>
</body>
</html>