{% load static %}
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Sign in</h1>
        <label>Login <input type="text" class="sign-in-login"/></label> <br/>
        <label>Password <input type="password" class="sign-in-password"></label> <br/>
        <button class="sign-in-btn">sign in</button>

        <h1>...or sign up</h1>
        <label>Login <input type="text" class="sign-up-login"/></label> <br/>
        <label>Password <input type="password" class="sign-up-password"></label> <br/>
        <button class="sign-up-btn">sign up</button>

        <script type="text/javascript" src="{% static "auth.mjs" %}"></script>
    </body>
</html>