.room-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.room-header {
    border-bottom: 1px solid black;
}

.room-messages {
    flex-grow: 1;
    overflow-y: scroll;
}

.sending {
    border-top: 1px solid black;
}